body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Product containner Styles */
#product_con
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  padding-top: 50px;
  background-color: aliceblue;
}



/* products css  */
.product {
  width: 230px;
  height: 450px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease;

}

.product:hover {
  transform: scale(1.1);
  border-color: #cc5500;
}

.product img {
  width: 100%;
  height: 40%;
  border-radius: 5px;
}

.product h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  font-size: 18px;
}

.description {
  margin-top: 5px;
  height: 60px;
  font-size: 14px;
  color: #777;
  overflow: hidden;
}
.price{
  color: #cc5500;
  font-size: large;
}
.rating{
  color: rgb(206, 206, 98);
}
.stock{
  color: #4CAF50;
  font-weight: bold;
  font-size: large;
}

/* Styling for the Add to Cart button */
.add-to-cart-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

}

.add-to-cart-btn:hover {
  background-color: #65c468;
}


#Price {
  width: 100%;
  text-align: center;
}

/* Styling for the success notification */
.notification {
  transition: all 1s ease;
  position: fixed;
  top: 50px;
  right: -600px;
  width: 400px;
  background-color: #4CAF50; /* Green color */
  border: 1px solid black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;

}

.notification .icon {
  margin-right: 10px;
}

.notification .close-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: large;
}

.notification .close-btn:hover {
  color: #f2f2f2;
}






/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
#footer-logo {
  width: 30%;
}
#footer-logo img {
  width: 200px;
  height: 200px;
}
#link-list{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#link-list li {
  list-style: none;
  color: rgb(110, 110, 231);
}



.footer-inputs-box {
  width: 30%;
}
/* Styles for the email input */
.footer-inputs {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer-inputs:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none;
}

.footer-inputs::placeholder {
  color: #aaa; /* Placeholder text color */
}

.submit-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049; /* Darker green */
}

footer p{
  width: 100%;
  text-align: center;
}
footer a {
  color: #0000EE;
  text-decoration: none;
 
}
.footer_icons {
  margin:8px 10px;
  color: white;
  
}

footer a:hover {
  text-decoration: underline;
}



@media screen and (max-width: 600px) {
  #link-list {
    width: 45%;
  }
  #footer-logo {
    width: 45%;
  }
  .footer-inputs-box {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  #link-list {
    width: 100%;
  }
  #footer-logo {
    width: 100%;
  }
}